<div class="body">
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center">
    
        <div class="logo me-auto">
          <h1><a href="">@mennet</a></h1>
        </div>
      </div>
    </header>
    <div class="vh-100 parent">
        <div class="d-flex justify-content-center align-items-center" style="padding: 8rem;">
            <div class="center-div">
                <div class="screen">
                    <div class="screen__content">
                        <form class="row g-3 signup" #form="ngForm" (ngSubmit)="reset()">
                            <div class="col-md-6 signup__field">
                            <div class="input-group mb-3">
                                <input id="exampleInputPassword1" placeholder="Enter your password" type="{{ showPassword ? 'text' : 'password' }}" class="form-control signup__input" [ngClass]="{'is-valid' : mdp.touched && !mdp.invalid , 'is-invalid': mdp.touched && mdp.invalid }" (input)="checkPassword()" [(ngModel)]="password" #mdp="ngModel" required autocomplete="off" name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,24}$">
                                <a class="eye signup__icon__right" (click)="show()"><i *ngIf="!showPassword" class="bi bi-eye-fill"></i><i *ngIf="showPassword" class="bi bi-eye-slash-fill"></i></a>
                            </div>
                            <div class="form-label" *ngIf="mdp.touched && mdp.invalid">
                                <div>
                                <i [ngClass]="{'bi bi-check-circle-fill green' : isPasswordLengthValid(password), 'bi bi-x-circle-fill red' : !isPasswordLengthValid(password)}"></i> 
                                {{ isPasswordLengthValid(password) ? 'Password length is valid' : 'Password must be between 8 and 24 characters' }}
                                </div>
                                <div>
                                <i [ngClass]="{'bi bi-check-circle-fill green' : hasUpperCase(password), 'bi bi-x-circle-fill red' : !hasUpperCase(password)}"></i> 
                                {{ hasUpperCase(password) ? 'You have an uppercase letter' : 'No uppercase letter found' }}
                                </div>
                                
                                <div>
                                <i [ngClass]="{'bi bi-check-circle-fill green' : hasLowerCase(password), 'bi bi-x-circle-fill red' : !hasLowerCase(password)}"></i> 
                                {{ hasLowerCase(password) ? 'You have a lowercase letter' : 'No lowercase letter found' }}
                                </div>
                                
                                <div>
                                <i [ngClass]="{'bi bi-check-circle-fill green' : hasDigit(password), 'bi bi-x-circle-fill red' : !hasDigit(password)}"></i> 
                                {{ hasDigit(password) ? 'You have a digit' : 'No digit found' }}
                                </div>
                                
                                <div>
                                <i [ngClass]="{'bi bi-check-circle-fill green' : hasSpecialCharacters(password), 'bi bi-x-circle-fill red' : !hasSpecialCharacters(password)}"></i> 
                                {{ hasSpecialCharacters(password) ? 'You have a special character' : 'No special character found' }}
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6  signup__field">
                            <div class="input-group mb-3">
                                <input id="exampleInputPassword2" placeholder="Repeat your password" type="password" class="form-control signup__input" [ngClass]="{'is-valid' : mdp2.touched && checkPassword()  , 'is-invalid': mdp2.touched && !checkPassword()  }" aria-label="Amount (to the nearest dollar)" [(ngModel)]="repeatPassword" #mdp2="ngModel" required autocomplete="off" name="repeatpassword" required>
                                <div class="alert alert-danger invalid-feedback" *ngIf="mdp2.invalid && mdp2.touched">
                                No match
                                </div>
                            </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="button signup__submit" [disabled]="form.invalid">
                                    <span class="button__text">Reset</span>
                                    <i class="button__icon bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
