.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assure que le conteneur prend toute la hauteur de la fenêtre */
    text-align: center; /* Centre le texte à l'intérieur de l'élément <pre> */
  }