<div class="container mt-5" *ngIf="currentUser$ | async as currentUser">
  <div class="card mx-auto" style="max-width: 800px;">
    <div class="card-header">
      <h5 class="card-title">Identité Bancaire</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Nom:</strong> {{ currentUser.firstName }} {{ currentUser.familyName }}</p>
          <p><strong>Date de naissance:</strong> {{ currentUser.birthDate | date }}</p>
          <p><strong>Téléphone:</strong> {{ currentUser.phoneNumber }}</p>
          <p><strong>Adresse:</strong> {{ currentUser.address }}</p>
        </div>
        <div class="col-md-6" *ngIf="bankAccount">
          <p><strong>Type de compte:</strong> {{ bankAccount.accountType }}</p>
          <p><strong>Numéro de compte:</strong> {{ bankAccount.accountNumber }}</p>
          <p><strong>Solde du compte:</strong> {{ bankAccount.accountBalance }}</p>
          <p><strong>RIB:</strong> {{ bankAccount.rib }}</p>
          <p><strong>BIC:</strong> CFCTTNTT</p>
        </div>
        <div class="col-md-6" *ngIf="!bankAccount">
          <p>Aucun compte bancaire trouvé.</p>
        </div>
      </div>
    </div>
  </div>
</div>
