<div class="parent">
  <div class="d-flex justify-content-center align-items-center p-5">
    <div class="center-div position-absolute top-50 start-50 translate-middle">
      <div class="screen">
        <div class="screen__content">
          <div class="alert alert-danger" *ngIf="notification">
            Code may be expired or misspelled
          </div>
          <form class="row g-3 forget" #form="ngForm">
            <div class="col-2 forget__field">
              <input name="digit1" #digit1InputRef type="text" class="form-control forget__input" [(ngModel)]="digit1" maxlength="1" required (input)="moveToNext($event, digit2InputRef)">
            </div>
                          <div class="col-2 forget__field">
                            <input name="digit2" #digit2InputRef type="text" class="form-control forget__input" [(ngModel)]="digit2" maxlength="1" required (input)="moveToNext($event, digit3InputRef)">
                          </div>
                          <div class="col-2 forget__field">
                            <input name="digit3" #digit3InputRef type="text" class="form-control forget__input" [(ngModel)]="digit3" maxlength="1" required (input)="moveToNext($event, digit4InputRef)">
                          </div>
                          <div class="col-2 forget__field">
                            <input name="digit4" #digit4InputRef type="text" class="form-control forget__input" [(ngModel)]="digit4" maxlength="1" required (input)="moveToNext($event, digit5InputRef)">
                          </div>
                          <div class="col-2 forget__field">
                            <input name="digit4" #digit5InputRef type="text" class="form-control forget__input" [(ngModel)]="digit5" maxlength="1" required (input)="moveToNext($event, digit6InputRef)">
                          </div>
                          <div class="col-2 forget__field">
                            <input name="digit4" #digit6InputRef type="text" class="form-control forget__input" [(ngModel)]="digit6" maxlength="1" required>
                          </div>
                          
                          <div class="d-flex justify-content-center">
                          <button type="button" class="button forget__submit" [disabled]="timer" (click)="resendEmail()">
                            <span class="button__text" *ngIf="timer"><app-verification-code-timer (timerEndEmitter)="handleTimer($event)"></app-verification-code-timer></span>
                            <span class="button__text" *ngIf="!timer">Resend verification code</span>
                          </button>
                          <button type="submit" class="button forget__submit" [disabled]="form.invalid" (click)="onSubmit()">
                            <span class="button__text">Reset my password</span>
                          </button>
                        </div>
                      </form>
                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>		
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
        </div>
    </div>
</div>