<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="!loading && !error && reclamations.length === 0">No credits found.</div>

<table *ngIf="!loading && !error && reclamations.length > 0" class="table table-striped">
  <thead>
  
    <tr>
      <th>ID</th>
      <th>lDate</th>
      <th>Contenu</th>
      <th>type Reclamation</th>
    </tr>

    reclamationId!:number;
    date!:Date;
    contenu!:string;
    typeReclamation!:string

  </thead>
  <tbody>
    <tr *ngFor="let Reclamation of reclamations">
      <td>{{ Reclamation.reclamationId }}</td>
      <td>{{ Reclamation.date }}</td>
      <td>{{ Reclamation.contenu }}</td>
      <td>{{ Reclamation.typeReclamation}}</td>
    </tr>
  </tbody>
</table>
