<div class="container table-container mt-5">
  <div class="table-wrapper">
    <table class="table table-bordered text-center mx-auto mt-5 ml-5">
      <thead>
        <tr class="first-row">
          <th scope="col">Drapeau</th>
          <th scope="col">Libellé</th>
          <th scope="col">Devise</th>
          <th scope="col">Unité</th>
          <th scope="col">Achat</th>
          <th scope="col">Vente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of curencyList">
          <td><img src="/assets/drapeau/{{ currency.Devise }}.jpg" alt="{{ currency.Devise }}" width="30"></td>
          <td>{{ currency.Libelle }}</td>
          <td>{{ currency.Devise }}</td>
          <td>{{ currency.Unite }}</td>
          <td>{{ currency.Achat }}</td>
          <td>{{ currency.Vente }}</td>
        </tr>
        <tr *ngIf="curencyList.length === 0">
          <td colspan="6">Aucune donnée disponible</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-header text-center">
      <h2>Convertisseur de devises</h2>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-4 ml-3 ">
          <div class="form-group">
            <label for="currency-select">Sélectionnez une devise :</label>
            <select id="currency-select" class="form-control" [(ngModel)]="selectedCurrency" (change)="updateConversion()">
              <option *ngFor="let currency of curencyList" [ngValue]="currency">{{ currency.Libelle }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="amount-input">Montant à convertir :</label>
            <input id="amount-input" type="number" class="form-control" [(ngModel)]="amount" (input)="updateConversion()" />
          </div>
        </div>
        <div class="col-md-4 align-self-center">
          <p *ngIf="convertedAmount !== null" class="conversion-result">
            {{ amount }} {{ selectedCurrency?.Devise }} = {{ convertedAmount | number:'1.2-2' }} {{ baseCurrency?.Devise }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .form-group {
    margin-bottom: 1.5rem;
    margin-left: 100px;
  }
  .conversion-result {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
</style>
