<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-header">
            Income
          </div>
          <div class="card-body">
            <button class="btn btn-primary" (click)="openIncomeModal()">Add Income</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-header">
            Expenses
          </div>
          <div class="card-body">
            <button class="btn btn-danger" (click)="openExpenseModal()">Add Expense</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  