<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>
<div *ngIf="!loading && !error && credits.length === 0">No credits found.</div>

<table *ngIf="!loading && !error && credits.length > 0" class="table table-striped">
  <thead>
  
    <tr>
      <th>ID</th>
      <th>loan Type</th>
      <th>Amount</th>
      <th>Duration</th>
      <th>Interest Rate</th>
      <th>Request Date</th>
      <th>Monthly Payment</th>
      <th>Car Prise</th>
      <th>Horse Power</th>
      <th>Monthly Payment</th>
      <th>Salaire</th>
      <th>postOccupe</th>
      <th>address employeur</th>
      <th>creditEnCours</th>
      <th>user</th>
      <th>status</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let credit of credits">
      <td>{{ credit.id }}</td>
      <td>{{ credit.loanType }}</td>
      <td>{{ credit.amount }}</td>
      <td>{{ credit.duration}}</td>
      <td>{{ credit.interestRate }}</td>
      <td>{{ credit.requestDate }}</td>
      <td>{{ credit.monthlyPayment }}</td>
      <td>{{ credit.carPrice }}</td>
      <td>{{ credit.horsePower }}</td>
      <td>{{credit.revenuMensuels}}</td>
      <td>{{credit.postOccupe}}</td>
      <td>{{credit.employeur}}</td>
      <td>{{credit.addressEmplyeur}}</td>
      <td>{{credit.creditEnCours}}</td>
     
      <td>{{ credit.user?.idUser}}</td>
      <td>{{ credit.status }}</td>
      <td>
        <button class="btn btn-primary" (click)="approveCredit(credit.id)">Approve</button>
        <button class="btn btn-danger" (click)="rejectCredit(credit.id)">Reject</button>
      </td>
    </tr>
  </tbody>
</table>
